@{
  Layout = "_Layout";
}
@model List<ParksClient.Models.Park>
@using ParksClient.Models

<h1>All Parks:</h1>

<ul>
  @foreach (Park p in Model)
  {
    <h4>@Html.ActionLink($"{@p.Name}", "Details", new {id = @p.ParkId}) </h4>
    <p><em>State </em>@p.State</p>
    <p><em>City </em>@p.City</p>
    <p><em>Zip Code </em>@p.ZipCode</p>
    <p><em>Type: </em>@p.Type</p>
    <hr />
  }
</ul>